<div class="input">
    <div class="inputbox" id="contractName">contractname:
        <input type="text" class="form-control" ng-model="search.contractName">
    </div>
    <div class="inputbox" id="provider">provider:
        <input type="text" class="form-control" ng-model="search.provider">
    </div>
    <div class="inputbox" id="receiver">receiver:
        <input type="text" class="form-control" ng-model="search.receiver">
    </div>
    <div class="inputbox" id="contractType">contracttype:
        <input type="text" class="form-control" ng-model="search.type">
    </div>
    <div class="inputbox" id="value">value:
        <input type="text" class="form-control" ng-model="search.value">
    </div>
    <table class="table table-striped table-bordered table-hover">
        <tr class="info">
            <th>Contract Name</th>
            <th>Cell Provider</th>
            <th>Cell Receiver</th>
            <th>Contract Type</th>
            <th>Value</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="contract in contracts  | filter:search ">
            <td>{{contract.contractName}}</td>
            <td>{{contract.provider}}</td>
            <td>{{contract.receiver}}</td>
            <td>{{contract.type}}</td>
            <td>{{contract.value}}</td>
            <td style="width: 115px">
                <button class="btn btn-default btn-info">Go</button>
                <button class="btn btn-default btn-danger">Del</button>
            </td>
        </tr>
    </table>
</div>
