<div> 
	<div class="inputboxes">  contractname:<input type="text" class="form-control" ng-model="search.contractName"></div>
	<div class="inputboxes">  provider:<input type="text" class="form-control" ng-model="search.provider"></div>
	<div class="inputboxes">  receiver:<input type="text" class="form-control" ng-model="search.receiver"></div>
	<div class="inputboxes">  contracttype:<input type="text" class="form-control" ng-model="search.type"></div>
	<div class="inputboxes">  value:<input type="text" class="form-control" ng-model="search.value"></div>
    <table class="table table-striped table-bordered table-hover">
        <tr class="info">
            <th>Contract Name</th>
            <th>Cell Provider</th>
            <th>Cell Receiver</th>
            <th>Contract Type</th>
            <th>Value</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="contract in contracts  | filter:search ">
            <td>{{contract.contractName}}</td>
            <td>{{contract.provider}}</td>
            <td>{{contract.receiver}}</td>
            <td>{{contract.type}}</td>
            <td>{{contract.value}}</td>
            <td></td>
        </tr>
    </table>
</div>